<!--<h1>{{title}}</h1>
<h3>La base es {{base}}</h3>-->


<!--
  Una forma de hacerlo

  <button (click)="numero = numero - 1;"> - 1 </button>

  <span> {{ numero }} </span>

  <button (click)="numero = numero + 1;"> + 1 </button>

-->


<!--<button (click)="increment()"> - 1 </button>

<span> {{numero}} </span>

<button (click)="decrement()"> + 1 </button>

<hr>

<button (click)="acumular(-base)"> - {{base}} </button>

<span> {{ numeroBase }} </span>

<button (click)="acumular(base)"> + {{base}} </button> -->

<!-- <app-contador></app-contador> -->
<!-- <app-heroe></app-heroe> -->
<app-listado></app-listado>
